@font-face {
  font-family: 'Nanum Pen Script';
  font-style: normal;
  font-weight: 400;
  src: local('Nanum Pen'), local('NanumPen'), url(http://fonts.gstatic.com/s/nanumpenscript/v5/2rU8j9ni4k7htGbezV-YqzaKpOdJ2NwcBs1WeJm7EVA.ttf) format('truetype');
}
